<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person" class="pl.pjatk.JoaKoe.Person">
    </bean>
    <bean id ="personDb" class="pl.pjatk.JoaKoe.PersonDb">
        <constructor-arg index="0" ref="person"/>
    </bean>
    <bean id="personRepo" class="pl.pjatk.JoaKoe.PersonRepository">
        <constructor-arg index="0" ref="person"/>
        <constructor-arg index="1" ref="personDb"/>
    </bean>







</beans>